html,body{
    height: 100%;
    width: 100%;
    margin:0;
    overflow: hidden;
    
}


.sky{
    position: relative;
   height: 14%;
 
    background-color:rgb(74, 146, 205);
    
}

p.place{
    padding-bottom: 5px;
}
.head{
    /* display: inline-block; */
    margin:0;;
    color: #fff;
    line-height: 1rem;
    text-align: center;  
    padding-left: 50px;;
    padding-top: 10px; 

}



.pigeon{
    position: absolute;
    height: 90px;
    width: 90px;
    
    left: 100px;
    z-index: 1;
   
    animation: pigeon 5s infinite;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1) ;
    
}
.crow{
    position: absolute;
    height: 70px;
    width: 60px;
    right: 400px;
    z-index: 1;
    top: 10px;
   
}

.school{
    position:relative;
   height: 56%;
   background-color: #fffefe;
    
   
    background-image: -webkit-linear-gradient(bottom, #d1bdb8 30%, #f6fafc 70%);
}

.foot-path{
    position: relative;
    
   height: 8%;
    background-color: rgb(177, 135, 135);
}
.road{
    position: relative;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    height: 22%;
    width: 100%;
    background-color: rgb(52, 51, 51);

}
.lines{
    box-sizing: border-box;
    position: absolute;
    border:2px dashed #fff;
    top:45%;
    height: 0;
    width: 100%;
    
}
.school-img{
    position: absolute;
    height:295px;
    width: 500px;
         
    
    left: 400px;;
    z-index: 1;
}
.school-img:hover{
    transform: scaleX(-1);
}
.yellow{
    height:150px;
    width: 150px;
    
    position: absolute;
    top:-140px;
    left:300px;
    z-index: 1;
   
    animation: movebus1 5s infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
    
}
.green{
    height:170px;
    width: 200px;
    
    position: absolute;
    top:-140px;
    left:1500px;
    z-index: 1;
   
    animation: movebus4 5s infinite;
     animation-timing-function: ease-in-out;
    
}
.red{
    position: absolute;
    z-index: 1;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    right:20px;
    top:-70px;
    animation: movebus2 5s infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
}
.scooter{
    position: absolute;
    z-index: 1;
    height:100px;
    width: 100px;
    right:20px;
    top:-40px;
    border-radius: 20%;
    animation: scooter 5s infinite;
    animation-timing-function:ease-out;
    animation-direction:normal;
}
.play{
    position: absolute;
    width: 10%;
    right:0px;
    top:60px;
}
.tree{
    position: absolute;
    height:250px;
    width: 250px;
    right: 180px;
    top:30px;
    z-index: 1;
}
.teashop{
    position: absolute;
    height:130px;
    width:160px;
    right: 350px;
    top:140px;
 
    
}
.treebus{
    position: absolute;
    height: 120px;
    width: 100px;
    right:500px;
    /* z-index: 1;  */
    top:160px;
    /* border-radius: 10%; */
    /* transform:rotateX(30deg); */
}
.logo{
    height: 120px;
    width: 250px;
    position: absolute;
    font-weight:bolder;
    left:170px;
    top:5px;
    
    border-radius: 40%;
    animation: mymove 5s infinite;
    
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    

}

.stop{
    position:absolute;
    width:40px;
    height:150px;
    top: 120px;
    
}
.bank{
    position:absolute;
    width:200px;
    height:100px;
    top:150px;
    left: 100px;;
}

@keyframes mymove{
    from{left :-50px;}
    to{right:100px;}
}
@keyframes pigeon{
    from{left :-50px;}
    to{right: 50px;}
}
@keyframes fly{
    from{left :-100px;}
    to{right:650px;}
}


@keyframes movebus1{
    from{left :0px;}
    to{right:200px;}
    
}
@keyframes movebus4{
    from{left :-10px;}
    to{right:2000px;}
    
}
 @keyframes movebus2{
        from{right :-100px;}
        to{right:2000px;}
}
@keyframes scooter{
    from{right :-300px;}
    to{right:2000px;}
}
@keyframes crow{
    from{right: 0px;}
    to{left: 1000px;}
}
@keyframes header{
    from{right:0px;}
    to{left:1200px;}
    
}


/* media query */
@media screen and (max-width:1490px) {
    .school-img{
        /* position: absolute; */
        height:285px;
        width: 400px;
             
        
        left: 280px;;
        z-index: 1;
    }
    .yellow{
        height:150px;
        width: 150px;
        
        position: absolute;
        top:-140px;
        left:180px;
        z-index: 1;
       
        animation: movebus1 5s infinite;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        
        
    }
    .bank{
        /* position:absolute; */
        width:120px;
        height:100px;
        top:160px;
        left: 80px;;
    }

    .logo{
        height: 120px;
        width: 220px;
        position: absolute;
        
        left:100px;
        top:5px;
        
        border-radius: 50%;
       
        
    }   
    .pigeon{
        position: absolute;
        height: 70px;
        width: 70px;
        
        left: 60px;
        
    }
    .tree{
        
        position: absolute;
        height:200px;
        width: 300px;
        right: 160px;
        top:80px;
        z-index: 1;
    }
    .teashop{
        position: absolute;
        height:120px;
        width:120px;
        right: 400px;
        top:140px;
     
        
    }
    .treebus{
        position: absolute;
        height: 120px;
        width: 100px;
        right:550px;
        /* z-index: 1;  */
        top:160px;
        /* border-radius: 10%; */
        /* transform:rotateX(30deg); */
    }
}
/* 13000000000000000000000 */
@media screen and (max-width:1320px) {
    .school-img{
        /* position: absolute; */
        height:285px;
        width: 400px;
             
        
        left: 280px;;
        z-index: 1;
    }
    .yellow{
        height:150px;
        width: 150px;
        
        position: absolute;
        top:-140px;
        left:180px;
        z-index: 1;
       
        animation: movebus1 5s infinite;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        
        
    }
    .bank{
        /* position:absolute; */
        width:120px;
        height:100px;
        top:160px;
        left: 80px;;
    }

    .logo{
        height: 120px;
        width: 220px;
        position: absolute;
        
        left:100px;
        top:5px;
        
        border-radius: 50%;
       
        
    }   
    .pigeon{
        position: absolute;
        height: 70px;
        width: 70px;
        
        left: 60px;
        
    }
    .tree{
        
        position: absolute;
        height:220px;
        width: 280px;
        right: 80px;
        top:60px;
        z-index: 1;
    }
    .teashop{
        position: absolute;
        height:120px;
        width:120px;
        right: 300px;
        top:140px;
     
        
    }
    .treebus{
       
        height: 120px;
        width: 100px;
        right:440px;
        /* z-index: 1;  */
        top:160px;
        
    }
    .play{
        
        top:40px;
    }
}
/* 12000000000000000000000000000000 */
@media screen and (max-width:1220px) {
    .school-img{
        /* position: absolute; */
        height:285px;
        width: 300px;
             
        
        left: 280px;;
        z-index: 1;
    }
}
/* 1120000000000000000 */
@media screen and (max-width:1120px) {
    .school-img{
        
        
        left: 200px;;
        z-index: 1;
    }
    .yellow{
        left:120px;
        z-index: 1;      
    }
    .bank{
       
        left: 40px;;
    }

    .logo{
        
        left:20px;      
        
    }   
    .pigeon{
                
        left: -10px;
        
    }
    .tree{
        
        position: absolute;
        height:200px;
        width: 200px;
        right: 90px;
        top:80px;
        z-index: 1;
    }
    .teashop{
        position: absolute;
        height:120px;
        width:100px;
        right: 250px;
        top:140px;
     
        
    }
    .treebus{
       
        height: 120px;
        width: 100px;
        right:380px;
        /* z-index: 1;  */
        top:160px;
        
    }
    .crow{
        
        right: 250px;
        
    }
}
/* 98000000000000000 */
@media screen and (max-width:980px) {
    .school-img{
        
        width: 280px;
        left: 200px;;
        z-index: 1;
    }
    
        
    
    .tree{
        
       
        height:180px;
        width: 200px;
        right: 30px;
        top:100px;
        z-index: 1;
    }
    .teashop{
        position: absolute;
        height:100px;
        width:80px;
        right: 180px;
        top:160px;
     
        
    }
    .treebus{
       
        height: 100px;
        width: 80px;
        right:260px;
        /* z-index: 1;  */
        top:180px;
        
    }
    .crow{
        
        right: 180px;
        
    }
    .play{
        top:25px;
    }
}

/* /* 8200000000000000  */
@media screen and (max-width:980px) {
    .school-img{
        
        width: 220px;
        left: 150px;;
        z-index: 1;
    }
    .yellow{
        left:80px;
    }
    .bank{
        width:100px;
    }
    .logo{
        width:120px;
        height: 100px;;
    }
    .pigeon{
        left:-20px;
    }
        
    
    .tree{
        
       
        height:180px;
        width: 200px;
        right: 100px;
        top:100px;
       
    }
    .teashop{
        position: absolute;
        height:100px;
        width:100px;
        right: 250px;
        top:160px;
     
        
    }
    .treebus{
       
        height: 100px;
        width: 80px;
        right:350px;
        /* z-index: 1;  */
        top:180px;
        
    }
    .crow{
        
        right: 180px;
        
    }
    .play{
        top:80px;
    }
}

/* 8000000000000000 */
@media screen and (max-width:980px) {
    .school-img{
        
        width: 220px;
        left: 150px;;
        z-index: 1;
    }
    .yellow{
        left:80px;
    }
    .bank{
        width:100px;
    }
    .logo{
        width:120px;
        height: 100px;;
    }
    .pigeon{
        left:-20px;
    }
        
    
    .tree{
        
       
        height:180px;
        width: 180px;
        right: 0px;
        top:100px;
       
    }
    .teashop{
        position: absolute;
        height:100px;
        width:100px;
        right: 100px;
        top:160px;
     
        
    }
    .treebus{
       
        height: 100px;
        width: 80px;
        right:200px;
        /* z-index: 1;  */
        top:180px;
        
    }
    .crow{
        
        right: 120px;
        
    }
    .play{
        top:70px;
    }
}
/* 640.......................... */
@media screen and (max-width:640px) {
    .school-img{
        
        width: 200px;
        left: 120px;;
        z-index: 1;
    }
            
    
    .tree{
        
       
        height:180px;
        width: 160px;
        right: -20px;
        top:100px;
       
    }
    .teashop{
        position: absolute;
        height:100px;
        width:80px;
        right: 80px;
        top:160px;
     
        
    }
    .treebus{
       
        height: 80px;
        width: 60px;
        right:160px;
        /* z-index: 1;  */
        top:180px;
        
    }
    .crow{
        
        right: 80px;
        
    }
    .play{
        top:80px;
    }
}

/* 54000000000000 */
@media screen and (max-width:540px) {
    .school-img{
        
        width: 180px;
        left: 80px;;
        z-index: 1;
    }
    .yellow{
        left:0px;
    }
    .bank{
        width:40px;
        left: 30px;;
    }  
    .stop{
        height:80px;
        top:180px;
        left: -10px;
    }
    .logo{
        width: 80px;;
    }
    
    .tree{
        
       
        height:200px;
        width: 160px;
        right: -40px;
        top:80px;
       
    }
    .teashop{
        
        height:100px;
        width:80px;
        right: 40px;
        top:160px;
     
        
    }
    .treebus{
       
        height: 80px;
        width: 80px;
        right:120px;
        /* z-index: 1;  */
        top:180px;
        
    }
    .crow{
        
        right: 60px;
        
    }
    .play{
        top:80px;
    }
}